
$primary:#022865;
$secondary: red;
$tertiary: black;
$bgColor: #09224a!important;


$hoverColor: #12ffcd;
$activeColor: #12ffcd; 
$visitedColor: #12ffcd;

$font:'Gotham Rounded Book';
$font-color: #e7e7e7;