

*{
	font-family: $font;
	color:$font-color;
}


body{
	background:$bgColor;
}



.hide{display:none!important;}
.elements-right{
	display:inline-block;

}




/*BOOTSTRAP*/
header{ 
	.navbar-header.col-md-1{
		max-width:12%;
		padding-top:9px;
	}
	ul.nav{
		padding:0 7px;
	}
}



section{
	height:auto;
	h1{font-size:16px;}
	h2{font-size:15px;}	

	&.dashboard,&.assets,&.visibility,&.policies{
		padding:30px 0;
	}	
}


.graphic-header{
		
	margin-top:30px;
	padding-left:36px;
	width:335px;
	hr{color:#032e74;
		border-color:#032e74;

	}
	.title-graphic{
		width: 150px;
		height: 40px;
		float: left;
		h2{

		}
		
	}
	.btn-last{
		min-width: 78px;
		a{
			width:78px;
			text-decoration: none;
			padding:1px 7px;
			display: inline-block;
			height: 20px;
			background:#ffffff;
			color:#09224a;
			font-size: 11px;
			font-weight: 600;
			border-radius: 2px;
		}
	}
	.btn-graphic{
		width:60px;
	}

}

.title-graphic,.btn-last,.btn-graphic{
	display:inline-block;
}
.btn-reload, .btn-setting{
	float:left;
	
	display:inline-block;
}

.btn-reload{
	width:12px;
	height:12px;
	margin-left:10px;
	background:url('../img/icon/reload.svg')no-repeat;				
	&:hover{background:url('../img/icon/reload-active.svg')no-repeat;}
	
}

.btn-setting{
	width:23px;
	height:7px;
	margin:3px 0;
	float:right;
	background:url('../img/icon/setting-graphic.svg')no-repeat;				
	&:hover{background:url('../img/icon/setting-graphic-active.svg')no-repeat;}
	
}

.graphic img{

	width:100%;
	max-width:347px;


}

.graphic.star{
	text-align:center;
	img{
		max-width:421px;
	}
}

.live-feed{
	.graphic-header{
		margin-top: 0;
		padding-left:0;
	}
}

.cluster{
	position:absolute;
	top:0;
	left:0;
}
		
.btn-ico-Down{
	opacity: 0.8!important;
	color:$activeColor!important;
	text-decoration: none!important;
	cursor:pointer;
	font-weight: 600;
	font-size: 15px;
	display: inline-block;
	&:after{
	content: "\f0d7";
	margin-left: 10px;
	font-family: FontAwesome;
	font-size: 14px

	}
}

.list-live-feed{
	overflow-y:scroll;
	height:750px;
	width:100%;
	ul{
		padding-left:0;
		overflow: hidden;
		 list-style-type: none;
		li{
			text-decoration: none;
			font-size: 14px;
			color:#6487be;
			padding:18px 0;
			font-weight: 600;
			border-bottom: 1px #071c3d solid;

			span{
				color:#5fcbae;
			}
			
		}
		.glass{
		 	width: 90%;
   		 	height: 172px;
    		background: #09224a;
   	 		position: absolute;
    		opacity: 0.6;
    		bottom: 0;
    		left:0;
		}
	}
}	

.mask{overflow:hidden;}


.neoScroll::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	border-radius: 2px;
	background-color: rgba(0,0,0,0.1);


}

.neoScroll::-webkit-scrollbar
{
	width: 20px;
	background-color: transparent;

}

.neoScroll::-webkit-scrollbar-thumb {
    border-radius: 2px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
  	background-color: #5fccaf;

	//-webkit-border-image: url("icon.ico") 1 50;
	position: absolute;
}


.menu-page{

	ul{
		padding:0;
		margin-top:18px;
		li{
			transition: 0.6s;
			cursor:pointer;
			
			display: inline-flex;
			width:100%;
			height: 68px;
			line-height: 68px;
			margin-bottom: 40px;
			span{
				position:relative;
				color:#7aa1df;
				font-weight: 600;

			}
			&:hover span{
				color:$font-color;

			}
			}
			
	}
}

section.assets .menu-page ul li{

	&:before{content:'';width:70px;height:70px;margin:0 17px;display:inline-block;transition:0.5s;}
	
	&:first-child:before{
		background:url('../img/btn-host.png') no-repeat;	
	}&:first-child:hover:before,&.active:first-child:before{background:url('../img/btn-host-active.png') no-repeat;}

	&:nth-child(2):before{
		background:url('../img/btn-pod.png') no-repeat;	
	}&:nth-child(2):hover:before,&.active:nth-child(2):before{background:url('../img/btn-pod-active.png') no-repeat;}

	&:nth-child(3):before{
		background:url('../img/btn-behavior.png') no-repeat;	
	}&:nth-child(3):hover:before,&.active:nth-child(3):before{background:url('../img/btn-behavior-active.png') no-repeat;}

	&:nth-child(4):before{
		background:url('../img/btn-behaviortwo.png') no-repeat;	
	}&:nth-child(4):hover:before,&.active:nth-child(4):before{background:url('../img/btn-behaviortwo-active.png') no-repeat;}
}
section.assets .menu-page ul li.active span:after{
	content:'';width:200px;height:2px;display:inline-block;position:absolute;bottom:18px;left:-6px; background-color:#61cfb2;
}
section.assets .menu-page ul li:hover span:after{
	content:'';width:200px;height:2px;display:inline-block;position:absolute;bottom:18px;left:-6px; background-color:#61cfb2;
}

section.policies .menu-page ul li{

	&:before{content:'';width:70px;height:70px;margin:0 17px;display:inline-block;transition:0.5s;}
	
	&:first-child:before{
		background:url('../img/btn-assets.png') no-repeat;	
	}&:first-child:hover:before,&.active:first-child:before{background:url('../img/btn-assets-active.png') no-repeat;}

	&:nth-child(2):before{
		background:url('../img/btn-assets.png') no-repeat;	
	}&:nth-child(2):hover:before,&.active:nth-child(2):before{background:url('../img/btn-assets-active.png') no-repeat;}

	&:nth-child(3):before{
		background:url('../img/btn-assets.png') no-repeat;	
	}&:nth-child(3):hover:before,&.active:nth-child(3):before{background:url('../img/btn-assets-active.png') no-repeat;}

	&:nth-child(4):before{
		background:url('../img/btn-assets.png') no-repeat;	
	}&:nth-child(4):hover:before,&.active:nth-child(4):before{background:url('../img/btn-assets-active.png') no-repeat;}
}
section.policies .menu-page ul li.active span:after{
	content:'';width:200px;height:2px;display:inline-block;position:absolute;bottom:18px;left:-6px; background-color:#61cfb2;
}
section.policies .menu-page ul li:hover span:after{
	content:'';width:200px;height:2px;display:inline-block;position:absolute;bottom:18px;left:-6px; background-color:#61cfb2;
}


.divTable{
	background:$primary;
	padding:30px;
	h2{margin-bottom:40px;}
	.neoScroll{overflow-x:auto;}
	table{
		min-width: 900px;
		thead{
			tr{
		
				th{
					color:#7aa1df;
					border-top:initial;
					padding-bottom: 30px;
					border-bottom:2px solid #61cfb2;
					&:last-child{text-align:center;}
				}
			}
			
		}
		tbody{
			tr{
				td{
					border:none;
					font-size: 14px;
					font-weight: 600;
					a{
						color:#61cfb2;
					}

					&:last-child{text-align:center;}
				}
			}
		}
	}
}


section.visibility .menu-page ul li{

	&:before{content:'';width:70px;height:70px;margin:0 17px;display:inline-block;transition:0.5s;}
	
	&:first-child:before{
		background:url('../img/btn-traffic.png') no-repeat;	
	}&:first-child:hover:before,&.active:first-child:before{background:url('../img/btn-traffic-active.png') no-repeat;}

	&:nth-child(2):before{
		background:url('../img/btn-traffic.png') no-repeat;	
	}&:nth-child(2):hover:before,&.active:nth-child(2):before{background:url('../img/btn-traffic-active.png') no-repeat;}

	&:nth-child(3):before{
		background:url('../img/btn-traffic.png') no-repeat;	
	}&:nth-child(3):hover:before,&.active:nth-child(3):before{background:url('../img/btn-traffic-active.png') no-repeat;}

	&:nth-child(4):before{
		background:url('../img/btn-traffic.png') no-repeat;	
	}&:nth-child(4):hover:before,&.active:nth-child(4):before{background:url('../img/btn-traffic-active.png') no-repeat;}
}
section.visibility .menu-page ul li.active span:after{
	content:'';width:200px;height:2px;display:inline-block;position:absolute;bottom:18px;left:-6px; background-color:#fff;
}
section.visibility .menu-page ul li:hover span:after{
	content:'';width:200px;height:2px;display:inline-block;position:absolute;bottom:18px;left:-6px; background-color:#fff;
}

.topology{
	background:$primary;
	padding:30px;
	img{width:100%;height:auto;}
}

.visibility .topology{
	background:$primary;
	padding:30px;
	height:100%;
	img{width:100%;height:auto;}
}

.description{
	padding:30px;
	background:$primary;
	div{
		h4{font-size:14px;color:#7aa1df;}
		p{font-size:18px;margin-bottom:30px;}
		hr{border-top: 1px solid #61cfb2;}
	}
	div.data-traffic{
		
		div.row {
			
			div{font-size:14px; padding-left:5px;padding-right:5px;}
			margin-bottom: 15px;
		}

				
		.row div:first-child:before{	
				content: '';
				width: 20px;
				height: 17px;
				margin: 0 5px 0 0;
				display: inline-block;
				transition: 0.5s;
		}
		.row.up div:first-child:before{	
				background: url(../img/icon/ok-green.svg) no-repeat;
		}

		.row.down div:first-child:before{	
				background: url(../img/icon/ok.svg) no-repeat;
		}
		.row div:nth-child(2){	
				    text-align: center;
				   }
		.row div:nth-child(2):before{	
				    content: '';
				    width: 91px;
				    height: 5px;
				    position: absolute;
				    bottom: 0;
				    left: 12px;
				    display: inline-block;
				    transition: 0.5s;
		}
		.row.up div:nth-child(2):before{	
				background: url(../img/icon/crow-right.svg) no-repeat;
		}

		.row.down div:nth-child(2):before{	
				background: url(../img/icon/crow-left.svg) no-repeat;
		}

	}



	div.traffic{
		 
		img{width:100%;}
	}
}

.btn{font-weight:600;width:145px;}
.btn-green{
	background:#61cfb2;
}
.btn-alpha{
	background:transparent;border:1px solid white!important;
}

section.policies{

	.table-top-buttons{
		text-align: right;
		.btn{
			margin-left: 18px;
		}
	}
	.head-table{margin-bottom:35px;}
	table{

		 text-transform: uppercase;
		label.box{display:inline-block;background:url('../img/checkbox.png')no-repeat 0 4px;cursor:pointer;width:15px;height:18px}
		label.box.checked{;background:url('../img/checkbox-checked.png')no-repeat 0 4px!important;}
		input:checked + label.box{
			background:url('../img/checkbox-checked.png')no-repeat 0 4px;
		}
		input[type=checkbox]{
				opacity:0;
				width:0;
				margin:0;
		}
		thead{
			tr{

			th:nth-child(3){text-align:center;}
			}
		}

		tbody{

			tr{
			td:nth-child(3){text-align:center;}
			}
		}
	}
}


.modal-top-buttons{
		width: 100%;
		margin:30px 0 ;
		text-align: right;
		.btn{
			margin-left: 18px;
		}
	
}
.modal#myModal{
	background-color:rgba(0,0,0,0.5);
	
	.modal-dialog{
			max-width:1058px;
		
		width:100%;
	
		margin-top: 2vh;
		  overflow-y: scroll;
   		 height: 96vh;
		.modal-content{
			h1{font-size:16px;margin-bottom:45px;}
			
		padding:30px;
		background:$primary;
		div{font-size: 13.5px;
			&.step span{display:inline-block;padding:15px 15px;}
			span{
				color:#7aa1df;
				&.step-ingress{color:#61cfb2;border-bottom:solid 1px #61cfb2;margin-right:-4px;width:9%;}
				&.step-egress{border-bottom:solid 1px #7aa1df;width:89%;}
			}

			&.from-area{margin:20px 0;
				div:last-child{text-align:right;
				button{width:initial;}
				}
			}
			.subtitle{ 
				display: inline-block;
				padding:12px 0;
				span{color:#61cfb2;}
			}
		}
	
		}
	}
	

}


.icon img{

	width:20px;
	margin-top:-4px;
	margin-left:10px;
	cursor:pointer;

}

.podSelector{
	background:#304e7f;
	padding:20px;

	input[type=text],select,option{
		border-radius:5px;
		border:0;
		padding:10px;
		color:#212529;
		width:180px;
	}

	select{
		width:250px;
	}

	.icon img {
		margin-top: 8px;
	}
	.firstLine{
		margin-bottom: 20px;
		
	}
	
		input.role{
		margin-right:15px;
		}
	

	.btn-right{float:right;}

}
	

.podSelector.two{
	input[type=text],select,option,label{

		width:100%;
	}

	input{margin-top:15px!important;}
}

button{
	cursor:pointer;
}