.asset-data-container {
  flex: 1;
  padding: 32px;
  background-color: #022865;
  @include crossShadow(0 0 16px 0 rgba(0, 0, 0, 0.2));
  @include crossBorder(5px);
  @include media-breakpoint-down(md) {
    flex: 0 0 100%;
    max-width: 100%;
    margin: 0;
    padding: 32px 15px;
  }
  & h1 {
    font-size: 1em;
    color: #e7e7e7;
    text-transform: uppercase;
    margin-bottom: 20px;
  }
  & table {
    text-transform: uppercase;
    & tbody {
      max-height: 570px;
    }
    & th,
    & td {
      &:first-of-type {
        padding-left: 30px;
      }
      &:last-of-type {
        text-align: center;
      }
    }
    & td:nth-of-type(1),
    & th:nth-of-type(1) {
      @include make-col(3);
    }
    & td:nth-of-type(2),
    & th:nth-of-type(2) {
      @include make-col(2);
    }
    & td:nth-of-type(3),
    & th:nth-of-type(3) {
      @include make-col(2);
    }
    & td:nth-of-type(4),
    & th:nth-of-type(4) {
      @include make-col(2);
    }
    & td:nth-of-type(5),
    & th:nth-of-type(5) {
      @include make-col(2);
    }
    & td:nth-of-type(6),
    & th:nth-of-type(6) {
      @include make-col(1);
    }
    @include media-breakpoint-down(sm) {
      & th,
      & td {
        &:first-of-type {
          padding-left: 0;
        }
      }
    }
    @include media-breakpoint-down(xs) {
      max-height: 700px;
      & .table-block {
        width: 540px;
      }
      & tbody {
        max-height: 100%;
      }
      & td:nth-of-type(1),
      & th:nth-of-type(1) {
        flex: 0 0 120px;
        max-width: 120px;
      }
      & td:nth-of-type(2),
      & th:nth-of-type(2) {
        flex: 0 0 90px;
        max-width: 90px;
      }
      & td:nth-of-type(3),
      & th:nth-of-type(3) {
        flex: 0 0 90px;
        max-width: 90px;
      }
      & td:nth-of-type(4),
      & th:nth-of-type(4) {
        flex: 0 0 80px;
        max-width: 80px;
      }
      & td:nth-of-type(5),
      & th:nth-of-type(5) {
        flex: 0 0 100px;
        max-width: 100px;
      }
      & td:nth-of-type(6),
      & th:nth-of-type(6) {
        flex: 0 0 60px;
        max-width: 60px;
      }
    }
  }
}
