$font_gotham: 'gotham-rounded';
@font-face {
  font-family: 'gotham-rounded';
  src: url('../fonts/gotham/GothamRnd-Bold.otf');
  font-style: normal;
  font-weight: 800;
}
@font-face {
  font-family: 'gotham-rounded';
  src: url('../fonts/gotham/GothamRnd-BoldIta.otf');
  font-style: italic;
  font-weight: 800;
}
@font-face {
  font-family: 'gotham-rounded';
  src: url('../fonts/gotham/GothamRnd-Book.otf');
  font-style: normal;
  font-weight: 400;
}
@font-face {
  font-family: 'gotham-rounded';
  src: url('../fonts/gotham/GothamRnd-BookIta.otf');
  font-style: italic;
  font-weight: 400;
}
@font-face {
  font-family: 'gotham-rounded';
  src: url('../fonts/gotham/GothamRnd-Light.otf');
  font-style: normal;
  font-weight: 300;
}
@font-face {
  font-family: 'gotham-rounded';
  src: url('../fonts/gotham/GothamRnd-LightIta.otf');
  font-style: italic;
  font-weight: 300;
}
@font-face {
  font-family: 'gotham-rounded';
  src: url('../fonts/gotham/GothamRnd-Medium.otf');
  font-style: normal;
  font-weight: 600;
}
@font-face {
  font-family: 'gotham-rounded';
  src: url('../fonts/gotham/GothamRnd-MedIta.otf');
  font-style: italic;
  font-weight: 600;
}
