.marker {
  @include crossGradient(radial-gradient(#081839, #061433));
  border: 2px solid #2e3192;
  @include crossBorder(50%);
  width: 57px;
  height: 57px;
  & span.marker-inner {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 13%;
    height: 74%;
    background: #09224a;
    @include crossBorder(50%);
    font-size: 1.368125em;
    line-height: 100%;
  }
  &.red {
    border-color: #ff1744;
  }
  &.yellow {
    border-color: #ffeb3b;
  }
  &.blue {
    border-color: #61cfb2;
  }
}

.select-std {
  background: transparent;
  border: none;
  color: #61cfb2;
  margin-left: -5px;
  padding-right: 5px;
  padding-left: 5px;
}

.btn-icon {
  padding: 5px;
  fill: #61cfb2;
  text-decoration: none;
  display: flex;
  &:hover,
  &:focus,
  &:active {
    fill: #fff;
    text-decoration: none;
  }
}

.dropdown-box {
  background: #09224a;
  & .dropdown-item {
    &:first-of-type {
      border-top: 1px solid #032763;
    }
    border-bottom: 1px solid #032763;
    background: #032e74;
    color: #fff;
    &:hover,
    &:focus {
      background: #09224a;
      color: #61cfb2;
    }
  }
}

option {
  background: #09224a;
  color: #ccc;
}

*::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
  @include crossBorder(2px);
	background-color: rgba(0, 0, 0, 0.2);
}

*::-webkit-scrollbar
{
	width: 19px;
  background-color: transparent;
}

*::-webkit-scrollbar-thumb
{
  @include crossBorder(2px);
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	background-color: #12ffcd;
}

// notifications
.notification-menu {
  left: 50%;
	@include crossTransform(translateX(-50%));
	width: 300px;
	padding: 0 0 8px;
}

.notification-head {
	position: relative;
	width: 100%;
	text-align: center;
	border-bottom: 1px solid #09224a;
	padding: 8px;
  color: #fff;
	& i {
		position: absolute;
		top: 12px;
		right: 8px;
	}
}

.notification-row {
	position: relative;
	display: flex;
	flex-flow: row;
	justify-content: flex-start;
	align-items: center;
	border-bottom: 1px solid #09224a;
	padding: 8px;
	&:hover {
		background: #09224a;
		.notification-icon {
			border-color: #032e74;
		}
	}
}

.notification-box {
	@extend .notification-row;
	position: fixed;
	bottom: 20px;
	right: 20px;
	background: #032e74;
	border: 1px solid #09224a;
	border-top: 3px solid #fff;
	border-radius: 0 0 5px 5px;
	width: 300px;
	opacity: 1;
	z-index: 9999;
	transition: all .3s;
	&:hover {
		border-color: #032e74;
	}
}

.notification-icon {
	width: 50px;
	height: 50px;
	border: 1px solid #09224a;
	border-radius: 3px;
}

.notification-data {
	flex: 1;
	padding: 0 8px;
	& p {
		margin: 0;
		font-size: 14px;
		&.notification-ip {
			font-weight: 600;
			color: #12ffcd;
		}
		&.notification-content {
			font-weight: 400;
		}
	}
}

.notification-status {
	position: absolute;
	top: 8px;
	right: 8px;
	font-size: 10px;
  color: rgba(200, 200, 200, 0.5);
  text-shadow: 1px 1px 1px #032763;
}
