/* Headings */
.activity-title {
  margin-top: 20px;
  margin-bottom: 0;
  color: #e7e7e7;
  font-size: 0.95em;
  text-transform: uppercase;
  @include media-breakpoint-down(sm) {
    margin-top: 40px;    
  }
}
